.preview_image {
    border-radius: 16px;
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 hsla(0, 0%, 0%, 0.19);

    height: 440px;

    img {
        object-fit: fill;
        overflow: hidden;
        border-radius: 20px;
    }
}
