NEXT_PUBLIC_TEMPLATE_CLIENT_ID=
NEXT_PUBLIC_APP_CHAIN_ID=80002
NEXT_PUBLIC_APP_RPC=
NEXT_PUBLIC_APP_API=http://localhost:9000
NEXT_PUBLIC_ERC_721=
NEXT_PUBLIC_ERC_1155=
NEXT_PUBLIC_ERC_20=
NEXT_PUBLIC_CONTRACT_TOKEN=
NEXT_PUBLIC_PROXY_ADDRESS=
NEXT_PUBLIC_IMAGE_DOMAINS=