@import "@/styles/variables.scss";

.nft_detail_general {
    background: $background-color;
    border-radius: 20px;
    padding: 30px 50px 30px;

    .nft_detail_general_info {
    }

    .nft_detail_general_preview {
    }
}
