.text {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  &__lable {
    font-weight: 600;
    font-size: 14px;
    line-height: 10px;
    text-transform: capitalize;
    margin-right: 5px;
  }

  &__content {
    font-size: 14px;
    line-height: 10px;
  }
}
