@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.form {
  height: 100%;

  &__error {
    color: $error-color;
    font-weight: 350;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.015em;
    margin-top: 4px;
    text-align: left;
    white-space: pre-line;
    .multi-line {
      white-space: pre !important;
    }
  }

  &__label {
    letter-spacing: 0.015em;
    padding-bottom: 8px;
    padding-top: 20px;
    white-space: nowrap;
    font-size: 14px;
    line-height: 21px;
    color: $text-color-white;
    font-weight: 600;
  }

  &__description {
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.015em;
    padding-bottom: 4px;
    color: $text-color-white;
  }

  textarea {
    min-height: 148px;
    @include scrollbars();
  }

  :global {
    .ant-input {
      height: 40px;
      width: 100%;
      border-radius: 5px;
      border: 1px solid $color-gray;
      color: $color-sliver;
      background: unset;

      &:hover,
      &:focus {
        box-shadow: none;
        border: 1px solid $color-violet;
      }

      &::placeholder {
        color: $color-sliver;
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 0.015em;
      }
    }

    .ant-picker {
      height: 40px;
      width: 100%;
      border: 1px solid $color-gray;
      border-radius: 5px;
    }

    .ant-input[disabled] {
      background-color: $color-gray;
      box-shadow: none;
      cursor: not-allowed;
      opacity: 1;
    }

    .ant-picker {
      background: none;
      border: 1px solid #516172;
      border-radius: 5px;
      input {
        &::placeholder {
          color: $color-sliver;
        }
      }
    }
    .ant-input-textarea-show-count {
      &::after {
        position: absolute;
        bottom: 5px;
        right: 14px;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.015em;
        color: $color-sliver;
      }
    }

    .ant-select {
      width: 100%;
      height: 40px;
      border-radius: 5px;

      .ant-select-selector {
        @include scrollbars();
        overflow: auto;
        border-radius: 5px;
        height: 100%;
        align-items: center;
        border: 1px solid $color-gray;

        &:hover,
        &:focus {
          box-shadow: none;
        }

        .ant-select-selection-placeholder {
          color: $color-sliver;
        }

        input {
          margin: 0;
          padding: 0;
        }
      }
    }

    .ant-input-group-addon {
      .ant-btn {
        height: 40px;
        border-radius: 5px;
        border: none;
        background: unset !important;
        margin-left: -45px;
      }
    }
  }
}
